<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/3bad1729-e29e-4975-8e25-8abe0078b1f4/resourceGroups/aiso-rg/providers/Microsoft.Web/sites/aiso-backend-api</ResourceId>
    <ResourceGroup>aiso-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://aiso-backend-api-eqfxfnhybcchdgc8.southeastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>97a10d5c-4c21-4fb0-9c57-8155c9c49d64</ProjectGuid>
    <PublishUrl>https://aiso-backend-api-eqfxfnhybcchdgc8.scm.southeastasia-01.azurewebsites.net/</PublishUrl>
    <UserName>$aiso-backend-api</UserName>
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>